.row{
    display: flex;
    align-items: center;
    height: 800px;
}

.card{
    flex-direction: column;
    display: flex;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
}

.card + .bottom{
    align-self: flex-end;
}